@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #FA6484;
    --secondary-color: #157DFE;
    --salmon: #FFD4C2; 
    --gray-color: #EEEEEE
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-color);
}

header {
    background-color: var(--salmon);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    text-align: center;
    font-size: 24px;
}

.links a {
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
}

a.active {
    font-weight: bold;
}

.links a + a {
    margin-left: 24px;
}

.links a::after {
    content: "";
    width: 2px;
    height: 0;
    background-color: var(--secondary-color);
    position: absolute;
    left: -6px;
    bottom: -2px;
}

.links a::before {
    content: "";
    width: 0;
    height: 2.5px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -2px;
    left: -6px;
}

.links a:hover::after {
    height: 100%;
    transition: height 200ms ease-in-out;
}

.links a:hover::before {
    width: 110%;
    transition: width 200ms ease-in-out;
}

/* ============== card ============== */

.card {
    width: 900px;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    position: relative;
    margin: 64px auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 1px 1px 2px var(--salmon);

    animation: side 250ms ease-in-out;
}

@keyframes side {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
    }
}

.avatar {
    border-radius: 4px 0 0 4px;
}

.details {
    padding: 32px;
}

.details .item {
    padding: 16px 0;
    border-bottom: 1.5px solid var(--salmon);
}

.details .item:last-child {
    border: none;
}

.details .item:last-child :nth-child(1) {
    color: var(--primary-color);
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: var(--gray-color);
    font-weight: normal;
}

.details .item div:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: #CCC;
}

.details h3 {
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
}

.details .item span {
    font-size: 12px;
    font-weight: bold;
    color: var(--gray-color);
    padding: 8px 32px;
    background-color: var(--primary-color);
    border-radius: 16px;
    margin-left: 4px;
    margin-top: 8px;
    display: inline-block;
}

/* ============== form ============== */

input {
    width: 100%;
    outline: none;
    background-color: initial;
    font-size: 18px;
    font-weight: bold;
    color: #CCC;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #CCC !important;
}

input[type="checkbox"] {
    width: initial;
    margin-right: 4px;
}

select,
input::placeholder {
    background-color: initial;
    color: var(--gray-color);
    font-size: 16px;
    font-weight: normal;
}

select {
    outline: var(--secondary-color);
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 8px;
}
    
a.button,
button[type="submit"] {
    width: 50%;
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 16px;
    letter-spacing: 0.8px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

a.button {
    width: 100%;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
}

.details > button {
    width: 100%;
}


#form-delete button[type="submit"] {
    width: 25%;
    background-color: var(--secondary-color);
    position: absolute;
    right: 32px;
    bottom: 32px;
}

/* ============== TABLE ============== */

.table-container {
    display: block;
    padding: 32px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}

.table-container > a:hover {
    background-color: var(--primary-color);
    transition: 300ms;
}

.table-container thead tr th {
    color: var(--gray-color);
    text-transform: uppercase;
    font-size: 14px;
}

.table-container thead tr th:nth-child(2) {
    color: var(--primary-color);
}

.table-container thead tr th:last-child {
    color: var(--primary-color);
}

th, td {
    padding: 16px;
    border-bottom: 1px solid var(--salmon);
    text-align: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border: 0.5px solid var(--primary-color);
    border-radius: 2px 16px 2px 2px;
    box-shadow: 3px 1px 4px -4px #fff;
}

tbody tr td:first-child {
    color: #fff;
    text-align: initial;
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:nth-child(2) span {
    font-size: 12px;
    font-weight: bold;
    color: var(--gray-color);
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    display: inline-block;
    margin-left: 4px;
}

tbody tr td:nth-child(2) a {
    color: var(--gray-color);
    text-decoration: none;
}

tbody tr td:nth-child(2) a:hover {
    color: var(--primary-color);
}

tbody tr td:nth-child(3) {
    color: #fff;
}

.table-container > a,
tbody tr td:last-child a {
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

tbody tr td:last-child a:hover {
    background-color: var(--primary-color);
    transition: 300ms;    
}

tbody tr:last-child td {
    border-bottom: none;
}