@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,700;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,500&display=swap");

:root {
  --primary-color: #9932cc;
  --secondary-color: #2f3437;
  --bottom-line: #4b0082;
  --gray-color: #ddd;
}

* {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;

  box-sizing: border-box;
}

body,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(https://cdn.dribbble.com/users/274876/screenshots/12285845/media/6a3dfde9b79e6151fb12716d124dc786.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
