@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #F09B53;
    --secondary-color: #403F39;
    --bottom-line: #562D32;
    --gray-color: #eee
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://cdn.dribbble.com/users/274876/screenshots/12285845/media/6a3dfde9b79e6151fb12716d124dc786.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    background-color: var(--gray-color);
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header span img {
    width: 48px;
    height: 48px;
}

.links {
    text-align: center;
    font-size: 24px;
    margin-left: 48px;
}

.links a {
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
}

.links a:hover {
    color: var(--secondary-color);
    transition: 200ms;
}

a.active {
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 10%;
}

.links a + a {
    margin-left: 24px;
}

/* ============== card ============== */

.card {
    width: 900px;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    position: relative;
    margin: 64px auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 1px 1px 2px var(--bottom-line);

    animation: side 250ms ease-in-out;
}

@keyframes side {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
    }
}

.avatar {
    border-radius: 4px 0 0 4px;
}

.details {
    padding: 32px;
}

.details .item {
    padding: 16px 0;
    border-bottom: 1.5px solid var(--bottom-line);
}

.details .item:last-child {
    border: none;
}

.details .item:last-child :nth-child(1) {
    color: var(--primary-color);
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: var(--gray-color);
    font-weight: normal;
}

.details .item div:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
}

.details h3 {
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
}

.details .item span {
    font-size: 12px;
    font-weight: bold;
    color: var(--gray-color);
    padding: 8px 32px;
    background-color: var(--primary-color);
    border-radius: 16px;
    margin-left: 4px;
    margin-top: 8px;
    display: inline-block;
}

/* ============== form ============== */

input {
    width: 100%;
    outline: none;
    background-color: initial;
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #ccc !important;
}

input[type="checkbox"] {
    width: initial;
    margin-right: 4px;
}

select,
input::placeholder {
    background-color: initial;
    color: var(--gray-color);
    font-size: 16px;
    font-weight: normal;
}

select {
    outline: var(--secondary-color);
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 8px;
}
    
a.button,
button[type="submit"] {
    width: 50%;
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

a.button {
    width: 100%;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
}

.details > button {
    width: 100%;
}


#form-delete button[type="submit"] {
    width: 25%;
    background-color: var(--secondary-color);
    position: absolute;
    right: 32px;
    bottom: 32px;
}

/* ============== TABLE ============== */

.table-container {
    display: block;
    padding: 32px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}

.table-container > a:hover {
    background-color: var(--primary-color);
    transition: 200ms;
}

.table-container thead tr th {
    color: var(--gray-color);
    text-transform: uppercase;
    font-size: 14px;
}

.table-container thead tr th:nth-child(2) {
    color: var(--primary-color);
}

.table-container thead tr th:last-child {
    color: var(--primary-color);
}

th, td {
    padding: 16px;
    border-bottom: 1px solid var(--bottom-line);
    text-align: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border: 0.5px solid var(--primary-color);
    border-radius: 2px 16px 2px 2px;
    box-shadow: 3px 1px 4px -4px #fff;
}

tbody tr td:first-child {
    color: #fff;
    text-align: initial;
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:nth-child(2) span {
    font-size: 12px;
    font-weight: bold;
    color: var(--gray-color);
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    display: inline-block;
    margin-left: 4px;
}

tbody tr td:nth-child(2) a {
    color: var(--gray-color);
    text-decoration: none;
}

tbody tr td:nth-child(2) a:hover {
    color: var(--primary-color);
}

tbody tr td:nth-child(3) {
    color: #fff;
}

.table-container > a,
tbody tr td:last-child a {
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

tbody tr td:last-child a:hover {
    background-color: var(--primary-color);
    transition: 200ms;    
}

tbody tr:last-child td {
    border-bottom: none;
}