@keyframes hidemessage {
  to {
    top: -40px;

    visibility: hidden;

    opacity: 0;
  }
}

.modal-overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;

  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: hidemessage 0.4s 3s ease-in-out forwards;

  visibility: initial;
}

.modal {
  background-color: var(--secondary-color);
  width: 400px;
  height: 266px;

  border-radius: 48px;
  padding: 32px;

  opacity: 1;
}

.modal .lottie-animation {
  height: 128px;
}

.modal p {
  color: #fff;

  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.6px;

  text-align: center;

  margin-top: 32px;
}
