.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: auto;
}

.pagination a {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.pagination a:hover {
  border-color: var(--bottom-line);
  transition: 0.2s;
}

.pagination a,
.pagination span {
  color: #fff;

  padding: 6px;

  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;

  margin-right: 8px;
}

.pagination span {
  color: var(--primary-color);
}
