.card.table-container {
    display: flex;

    flex-direction: column;
}

.table-container {
    display: grid;

    grid-template: 64px 1fr 16px / 1fr;
    padding: 32px;
}

.table-container table {
    border-spacing: 0;
}

.table-container > a {
    display: inline-block;
    margin-bottom: 24px;
}

.table-container .header {
    align-content: start;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
    margin-bottom: 24px;
}

.table-container .header a {
    text-align: center;
    width: 128px;
}

.table-container .header form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.table-container .header form input {
    border: 1px solid var(--bottom-line);
    padding: 4px 8px;
    border-radius: 4px;
}

.table-container .header button {
    width: 128px;
    margin: 0;
}

.table-container thead tr th {
    color: var(--gray-color);

    font-size: 14px;
    text-transform: uppercase;
}

.table-container thead tr th:nth-child(2),
.table-container thead tr th:last-child {
    color: var(--primary-color);
}

th, td {
    padding: 16px;
    border-bottom: 1px solid var(--bottom-line);
    text-align: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    
    background-position: center;
    background-size: cover;

    border: .5px solid var(--primary-color);
    border-radius: 2px 16px 2px 2px;
}

tbody tr td:first-child {
    color: #fff;
    text-align: initial;

    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:nth-child(2) span {
    color: var(--gray-color);
    background-color: var(--primary-color);
    
    font-weight: bold;
    font-size: 12px;
    
    padding: 8px 16px;
    border-radius: 16px;
    
    display: inline-block;
    margin-left: 4px;
}

tbody tr td:nth-child(2) a {
    color: var(--gray-color);
    text-decoration: none;
}

tbody tr td:nth-child(2) a:hover {
    color: var(--primary-color);
}

tbody tr td:nth-child(3) {
    color: #fff;
    font-weight: bold;
}

.table-container > a,
.table-container .header a,
tbody tr td:last-child a {
    color: #fff;
    background-color: var(--secondary-color);
    
    border-radius: 4px;
    padding: 8px 16px;

    font-size: 12px;
    text-transform: uppercase;
}

.table-container > a:hover,
.table-container .header a:hover,
tbody tr td:last-child a:hover {
    background-color: var(--primary-color);
    transition: 200ms;    
}

tbody tr:last-child td {
    border-bottom: none;
}