<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <title>Class Manager</title>
        {% endblock %}
        
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/styles/main.css">
    </head>

    <body>
        <header>
            <span><img src="/assets/logo.svg" alt="Logo"></span>
            <div class="links">
                <a href="/teachers">Professores</a>
                <a href="/students">Estudantes</a>
            </div>
        </header>

        {% block content %}{% endblock %}        

    </body>

    <script src="/scripts/menu.js"></script>
    <script src="/scripts/pagination.js"></script>
</html>