<header>

    <span>
        <img src="/assets/logo.svg" alt="Logo">
    </span>

    <div class="links">
        <a href="/teachers">Professores</a>
        <a href="/students">Estudantes</a>
    </div>

</header>