{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar"></section>
    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Nome Completo</div>
            <div>Leonardo Campello</div>
        </div>
        
        <div class="item">
            <div>Idade</div>
            <div>19</div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>Doutorado</div>
        </div>        

        <div class="item">
            <div>Tipo de aula</div>
            <div>Presencial</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>JavaScript</span>
                <span>Node.js</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>04/05/2020</div>
        </div>
    </section>
</div>


{% endblock content %}